html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
textarea:focus, input:focus{
  outline: none;
}

.wrap {
  padding-bottom: 2.4rem;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

div {
  /*border: 1px solid pink*/
}


.app-bar {
  background: linear-gradient(90.5deg, #3C47BD 0.02%, #437ACC 99.99%);
  /*min-height: 70px;*/
  padding: 11px 0;
}

.app-bar .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.new-case {
  display: flex;
  align-items: center;
  margin-right: 100px;
  cursor: pointer;
}

.new-case img {
  margin-right: 17px;
}

.new-case p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: var(--primary-white);
}

.avatar {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.avatar img {
  margin-right: 10px;
}

.avatar p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-white);
  margin-right: 20px;
}

.introduction {
  background-image: url("../images/intro-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  /*min-height: 250px;*/
  margin-bottom: 50px;
}

.introduction__title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  color: var(--primary-white);
  max-width: 510px;
  margin: 0;
  padding: 67px 0;
}

.btn {
  color: var(--primary-white);
  cursor: pointer;
  border: none;
}

.btn.btn-primary {
  width: 599px;
  height: 60px;
  background-color: var(--btn-primary);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__input {
  width: 599px;
  height: 60px;
  border: none;
  box-sizing: border-box;
  background-color: var(--input-bg);
  margin-bottom: 28px;
  padding: 20px;
}
.form__input:focus {
  border: none
}
.doc-wrap {
  position: relative;
}

.doc img {
  position: absolute;
  top: -3px;
  right: -30px;
}

.doc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.doc__select {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--color-black)
}

.doc__desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--placeholder)
}

input::placeholder {
  color: var(--placeholder);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  color: var(--color-black);
  margin-bottom: 5px;
}

.radio-wrap {
  display: flex;
  margin-bottom: 50px;
}


.container-radio:last-child {
  margin-right: 0;
}

.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-right: 50px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

.container-radio input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: -5px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: transparent;
  border: 2px solid var(--color-black);
  border-radius: 50%;
}

/*.container-radio:hover input ~ .checkmark {*/
/*  background-color: #ccc;*/
/*}*/
.container-radio input:checked ~ .checkmark {
  /*background-color: var(--dark-blue);*/
  border: 6px solid var(--dark-blue);
  height: 17px;
  width: 17px;
  /*box-sizing: content-box;*/
}


.content-wrap {
  display: flex;
  justify-content: space-between;
}

.creditors {
  padding-top: 122px;
}

.creditor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 350px;
}

.creditor__name {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--color-black);
}

.creditor__desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--placeholder);
}