:root {
  --primary-white: rgba(244, 244, 244, 1);
  --primary-blue: rgba(65, 113, 201, .2);
  --placeholder: rgba(26, 26, 26, .4);
  --btn-primary: rgba(65, 113, 201, 1);
  --color-black: rgba(30, 30, 30, 1);
  --dark-blue: rgba(55, 67, 186, 1);
  --input-bg: rgba(30, 30, 30, .02);
}